<div class="fossil-viewer">
  <strong>{{ fossil.name }}</strong>
  <p class="fossil-description">{{ fossil.description }}</p>
  <div class="inventory-container">
    @for (row of fossil.data; track $index; let i = $index) {
      <div class="inventory">
        @for (cell of row; track $index; let j = $index) {
          <div class="invslot-container">
            <span class="invslot">
              @if (cell) {
                <span
                  class="invslot-display"
                  [ngStyle]="{'background-image': 'url(panes/' + lookUpColor(cell) + '.png)'}"
                  [title]="getCellInfo(i, j)">
                </span>
              }
            </span>
          </div>
        }
      </div>
    }
  </div>
</div>