<div class="fossil-viewer card">
  <div>
    <fossil-view [fossil]="fossil"></fossil-view>
    <br>
      <button (click)="enableFossilEdit()">Edit</button>
      <button (click)="duplicateFossil()">Duplicate</button>
      @if (!willDelete) {
        <button (click)="wantsToDeleteFossil()" id="delete-button">Delete</button>
      }
      @if (willDelete) {
        <div class="error">Are you sure you want to delete this fossil?</div>
        <button (click)="deleteFossil()" id="delete-button-yes">Yes</button>
        <button (click)="cancelDelete()" id="delete-button-no">No</button>
      }
    </div>
  </div>